<!DOCTYPE html>
<html>
  <head>
    <title>ThyroidCancer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/navbar'%>

    <%= yield %>


    <footer class="branding">
        <small>&copy; 2019 <strong>Thyroid-Cancer</strong></small>
      </footer>
  </body>
</html>
